* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    font-family: "Montserrat";
}

.topo {
    display: flex;
    justify-content: left;
    gap: 30px;
    margin: 10px;
    padding: 10px;
    color: white;
    align-items: center;
}

.topo img{
    width: 40px;
}

.topo a{
    color: rgb(216, 216, 216);
    text-decoration: none;
}

.topo a:hover{
    color: white;
}

h1{
    padding-top: 65px; 
    padding-left: 15px;
    color: white;
    display: flex;
    justify-content: left;
    font-size: 65px;
    
}

h2{
    padding-top: 50px; 
    padding-left: 15px;
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: left;
}

button {
    display: flex;
    border-color: transparent;
    font-size: 20px; 
    height: 50px;
    width: 135px;
    gap: 30px;
    color: white;
    background-color: rgb(185, 0, 185);
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 50px; 
    margin-left: 15px;
}

button:hover{
    background-color: rgb(202, 86, 183);
}

.ladoDireito img{
    width: 570px;
    margin-left:150px;
    margin-top: -55px;
}

.corpo{
    display: flex;
    flex-direction: row;
}

/* @media screen and (max-width: 850px )  {
        .ladoEsquerdo{

            justify-content: center;
            align-items: center;
            text-align: center;

        }

        h1 {
          text-align: center;  
        }
        h2{
            text-align: center;
        }
        .corpo{
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .ladoDireito img{
            width: 470px;
            display: none;
        }
}

@media screen and (max-width: 2000px ) and (min-width: 851px) {
    
} */