* {
  font-family: "Montserrat";
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: mmin-content;
}

body {
  background-size: cover;
  background-color: rgb(33, 33, 33);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.primeiraParte {
  color: white;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.primeiraParte h1 {
  font-size: 7rem;
}

.primeiraParte h2 {
  font-size: 4rem;
  margin-top: 2rem;
  font-family: "Courier New", Courier, monospace;
}

.logo {
  height: 19.5rem;
  width: 50rem;
}

.logo2 {
  height: 17.5rem;
  width: 50rem;
}

.logos {
  margin: 10rem;
  display: flex;
  justify-content: center;
  gap: 7.0rem;
}

.informacoes {
  margin-top: 10rem;
}

.iconechevron {
  font-size: 25rem;
}

.segtexto {
  background-color: white;
}

.segtexto h1 {
  font-size: 6rem;
}

.segtexto h2 {
  text-align: left;
  font-size: 2.5rem;
  margin-top: 2rem;
}

.segundaParte {
  margin-top: 10rem;
  margin-left: 30rem;
  margin-right: 30rem;
  display: flex;
  justify-content: space-between;
}

.imagemsegparte img {
  height: 80rem;
  width: 50rem;
}


.divbotao {
  display: flex;
  justify-content: center;

}

.botaoInscrever {
  height: 5rem;
  width: 15rem;
  font-size: 2.5rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  transition: 1.5s;
  background-color: rgb(33, 33, 33);
  color: white;
  border-radius: 1rem;
  border: none;
}

.botaoInscrever:hover {
  transition: 1.5s;
  border: 0.5px solid rgb(33, 33, 33);
  background-color: white;
  color: rgb(33, 33, 33);
}



/* media query ------------------------------------------------------------------------------- */

@media screen and (max-width: 320px) {
 *{
   font-size: 15%;
 }
}

@media screen and (min-width: 321px) and (max-width: 568px) {
  *{
    font-size: 35%;
  }
}

@media screen and (min-width: 569px) and (max-width: 768px) {

}

@media screen and (min-width: 769px) and (max-width: 1024px) {

}

@media screen and (min-width: 1025px) and (max-width: 1366px) {

}

@media screen and (min-width: 1367px) and (max-width: 1680px) {

}
@media screen and (min-width: 1681px) {

}
