@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: min-content;
}

body {
  background-size: cover;
  background-color: rgb(33, 33, 33);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
}

.primeiraParte {
  color: white;
  margin: 20rem 10rem 0 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: auto;
}

.primeiraParte h1 {
  font-size: 9rem;
}

.primeiraParte h2 {
  font-size: 7rem;
  margin-top: 10rem;
  font-family: "Courier New", Courier, monospace;
}

.logo {
  height: 9.75rem;
  width: 25rem;
}

.logo2 {
  height: 8.75rem;
  width: 25rem;
}

.logos {
  margin: 10rem 10rem 10rem 10rem;
  display: flex;
  justify-content: center;
  gap: 8rem;
}

.informacoes {
  margin-top: 10rem;
}

.iconechevron i {
  margin-top: 5rem;
  font-size: 15rem;
}

.segtexto {
  margin: 5rem;
  width: auto;
  display: flex;
}

.h1segtexto {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.segtexto h1 {
  font-size: 7rem;
  margin-bottom: 5rem;
  /* height: auto; */
}

.textosegparteh2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: auto;
  margin: 5rem;
}
.textosegparteh2 h2 {
  text-align: justify;
  font-size: 5rem;
  margin-top: 3rem;
}

.segundaParte {
  background-color: white;
  margin: 10rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.imagemsegparte {
  margin: 5rem;
  height: auto;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagemsegparte img {
  height: 60rem;
  width: 40rem;
}

.divbotao {
  display: flex;
  justify-content: center;
}

.botaoInscrever {
  height: 10rem;
  width: 35rem;
  font-size: 6rem;
  margin: 10rem;
  background-color: rgb(33, 33, 33);
  color: white;
  border-radius: 1rem;
  border: none;
}

.botaoInscrever:hover {
  transition: 1.5s;
  border: 0.5px solid rgb(33, 33, 33);
  background-color: white;
  color: rgb(33, 33, 33);
}

/* media query ------------------------------------------------------------------------------- */

@media screen and (max-width: 320px) {
  * {
    font-size: 15%;
  }
  /* 
  .imagemsegparte img {
    height: 0rem;
    width: 0rem;
  } */
}

@media screen and (min-width: 321px) and (max-width: 568px) {
  * {
    font-size: 20%;
  }
  /* 
  .imagemsegparte img {
    height: 0rem;
    width: 0rem;
  } */
}

@media screen and (min-width: 569px) and (max-width: 768px) {
  * {
    font-size: 25%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  * {
    font-size: 30%;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1366px) {
  * {
    font-size: 35%;
  }
}

@media screen and (min-width: 1367px) and (max-width: 1680px) {
  * {
    font-size: 40%;
  }
}

@media screen and (min-width: 1681px) {
  * {
    font-size: 45%;
  }
}
